params{
	R_rnaseq {
		outformat = "rds"
	}
}
includeConfig '../src/Seurat/conf/container.config'
includeConfig '../src/Seurat/conf/input.config'
includeConfig '../src/Seurat/conf/seuratObjBuilder.config'
includeConfig '../src/Seurat/conf/RNAQc.config'
includeConfig '../src/Seurat/conf/thresholdFiltering.config'
includeConfig '../src/SingleCellExperiment/conf/container.config'
includeConfig '../src/SingleCellExperiment/processes/pcaFiltering/pcaFiltering.config'
includeConfig '../src/SingleCellExperiment/processes/normalization/normalization.config'
includeConfig '../src/Seurat/conf/scTransform.config'
includeConfig '../src/Seurat/conf/findVariableFeatures.config'
includeConfig '../src/Seurat/conf/markerGenes.config'
includeConfig '../src/Seurat/conf/pca.config'
includeConfig '../src/Seurat/conf/clustering.config'
includeConfig '../src/Seurat/conf/annotationGraphs.config'
includeConfig '../src/DoubletFinder/conf/doubletFinder.config'
